.icon-home,.icon-newspaper,.icon-image,.icon-book,.icon-paste,.icon-stack,.icon-drawer,.icon-bubbles,.icon-users,.icon-search,.icon-expand,.icon-hammer,.icon-bug,.icon-rocket,.icon-list,.icon-globe,.icon-star,.icon-heart,.icon-cancel-circle,.icon-arrow-up-left,.icon-arrow-up,.icon-arrow-up-right,.icon-arrow-right,.icon-arrow-down-right,.icon-arrow-down,.icon-arrow-down-left,.icon-arrow-left,.icon-crop,.icon-scissors {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(icons.png);
	background-repeat: no-repeat;
}
.icon-home {
	background-position: 0 0;
}
.icon-newspaper {
	background-position: -32px 0;
}
.icon-image {
	background-position: -64px 0;
}
.icon-book {
	background-position: -96px 0;
}
.icon-paste {
	background-position: -128px 0;
}
.icon-stack {
	background-position: -160px 0;
}
.icon-drawer {
	background-position: -192px 0;
}
.icon-bubbles {
	background-position: -224px 0;
	width: 18px;
}
.icon-users {
	background-position: -256px 0;
}
.icon-search {
	background-position: -288px 0;
}
.icon-expand {
	background-position: -320px 0;
}
.icon-hammer {
	background-position: -352px 0;
}
.icon-bug {
	background-position: -384px 0;
}
.icon-rocket {
	background-position: -416px 0;
}
.icon-list {
	background-position: -448px 0;
}
.icon-globe {
	background-position: -480px 0;
}
.icon-star {
	background-position: 0 -32px;
}
.icon-heart {
	background-position: -32px -32px;
}
.icon-cancel-circle {
	background-position: -64px -32px;
}
.icon-arrow-up-left {
	background-position: -96px -32px;
}
.icon-arrow-up {
	background-position: -128px -32px;
}
.icon-arrow-up-right {
	background-position: -160px -32px;
}
.icon-arrow-right {
	background-position: -192px -32px;
}
.icon-arrow-down-right {
	background-position: -224px -32px;
}
.icon-arrow-down {
	background-position: -256px -32px;
}
.icon-arrow-down-left {
	background-position: -288px -32px;
}
.icon-arrow-left {
	background-position: -320px -32px;
}
.icon-crop {
	background-position: -352px -32px;
}
.icon-scissors {
	background-position: -384px -32px;
}
