!!!
html
    head
        title Dorkemon
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=2")
        link(type="text/css", rel="stylesheet", href="main.css")
        link(type="text/css", rel="stylesheet", href="icons/icons.css")
    body
        != yield
        script(type="text/javascript", src="/socket.io/socket.io.js")
        script(type="text/javascript", src="knockout.js")
        script(type="text/javascript", src="index.js")