canvas#top
    
    
#bottom
    h1 Dorkemon
    p This is my attempt to create a browser based game for the Nintendo 3DS
    
    h4 todo
    ul
        li draw something to canvas
        li 
            strike get ahold of arrow keys