.top
    h1 Dorkemon
    
.bottom
    p This is my attempt to create a browser based game for the Nintendo 3DS
    
    h2 todo
    ul
        li get ahold of arrow keys
        li la
        li di
        li da
        li foo
        li bar
        li baz