*
    box-sizing border-box
.reset
    margin 0
    padding 0
    border 0
body
    @extend .reset
    font-family sans-serif
    outline 1px dashed purple
#top
    width 398px
    height 218px
    position absolute
    top 0
    left 0
    overflow hidden
    outline 1px dashed red
#bottom
    position absolute
    width 320px
    height 212px
    top 218px
    left 39px
    overflow hidden
    outline 1px dashed green