*
    box-sizing border-box
.reset
    margin 0
    padding 0
    border 0
body
    @extend .reset
    font-family sans-serif
    width 398px
    height 430px
    outline 1px dashed purple
    overflow hidden
.top
    width 398px
    height 218px
    position fixed
    top 0
    left 0
    overflow hidden
    outline 1px dashed red
.bottom
    position fixed
    width 320px
    height 212px
    top 218px
    left 39px
    overflow fixed
    outline 1px dashed green