*
    box-sizing border-box
    
absolute(l=false, t=false, r=false, b=false)
    position absolute
    unless l is false
        left l
    unless t is false
        top t
    unless r is false
        right r
    unless b is false
        bottom b
        
.reset
    margin 0
    padding 0
    border 0
.strike
    text-decoration line-through
body
    @extend .reset
    font 10px sans-serif
    color #333
    //outline 1px dashed purple
    background black
#topScreen
    absolute(t:0, l:0)
    width 398px
    height 217px
    overflow hidden
    outline 1px dashed red
    background #333
#bottomScreen
    absolute(t:218px, l:39px)
    width 320px
    height 212px
    overflow scroll
    outline 1px dashed green
    background silver
    menu 
        @extends .reset
        command
            margin 5px
    h1
        text-align center
        border-bottom 1px solid #999
        margin 0
    #imageUrl
        display block
    #chat
        background lightblue